fastapi==0.115.0
uvicorn[standard]==0.32.0
python-multipart==0.0.16
opencv-python>=4.10.0
numpy>=2.3.0
Pillow>=11.0.0
rembg[cpu]==2.0.75
scikit-learn>=1.5.2
scikit-image>=0.24.0
scipy>=1.14.1
python-dotenv==1.0.1
gunicorn>=21.2.0
supabase>=2.0.0
